textarea {
    resize: none;
}

#PalabraBuscar {
    font-size: 3rem;
    line-height: 2;
}

#TxtMejorResultado {
    font-size: 3rem;
    line-height: 2;
}

#HeaderCurso {
    background-image: linear-gradient(to right, #11998e, #38ef7d);
}

#HeaderTop {
    background-color: #cccccc;
}

#TopTraductor {
    background-image: linear-gradient(to top, #0ba360 0%, #3cba92 100%);
}

#HYF {
    background-image: linear-gradient(to right, #fff, #fff);
}

.breadcrumb>li+li:before {
    color: #ccc;
    content: "/ ";
    padding: 0 5px;
}

#FooterConfig {
    bottom: 0;
}

.footer {
    bottom: 0;
}

.body {
    height: 100%;
}

#Inicio {
    display: flex;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #f5f5f5;
}

.form-signin {
    width: 100%;
    padding: 15px;
    margin: auto;
}

#opciones {
    height: 100vh;
}

.footer {
    bottom: 0;
}

.pdfview {
    margin: auto;
    display: block;
    width: 100vh;
    height: 100vh;
}

input:focus {
    outline-color: red;
}